/* App.css */

.main-layout {
    display: flex; /* Używamy flexbox, aby ustawić sidebar i główną treść obok siebie */
    min-height: 100vh;
}

.app-sidebar-container {
    width: 250px; /* Stała szerokość paska bocznego */
    height: 100%;
    background-color: #fff; /* Lekko szare tło, aby był widoczny */
    padding: 20px;
    color: #000;
    border-right: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
}

.main-content {
    flex-grow: 1; /* Pozwala głównej treści zająć resztę miejsca */
    padding: 20px;
}